[submodule "0x18-stacks_queues_lifo_fifo"]
	path = 0x18-stacks_queues_lifo_fifo
	url = https://github.com/javb92/monty.git
[submodule "0x1D-binary_trees"]
	path = 0x1D-binary_trees
	url = https://github.com/javb92/0x1D-binary_trees.git
	branch = master
